
<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
	body{
		background-color: lightblue;
	}
  </style>
</head>

<body>
  <h1 align="center">Sistema de monitoreo de compostaje</h1>
  <h2>The date and time on the server is: {{ time }}</h2>
  <h2> {{ text }} </h2>

  <div class="btn-group">
	<a href="/" role="button" class="btn btn-success btn-lg btn-block">Home</a>
	<br>
	
  	<a href="/sensors" role="button" class="btn btn-success btn-lg btn-block">Informacion de sensores</a>
	<a href="" role="button" class="btn btn-danger btn-lg btn-block">Setear valor optimo de Humedad</a>
	<br>
	
	<a href="/motor/on" role="button" class="btn btn-info btn-lg btn-block">Mover compost</a> 
	<a href="/motor/off" role="button" class="btn btn-danger btn-lg btn-block">Parar compost</a>
	<br>
	
	<a href="/valve" role="button" class="btn btn-warning btn-lg btn-block">Cargar valvula</a>
	<a href="" role="button" class="btn btn-info btn-lg btn-block">Abrir valvula</a>
	<a href="" role="button" class="btn btn-success btn-lg btn-block">Setear tiempo de apertura de valvula</a>
  </div>

</body>
</html>
